---
layout: default
title: Adam Lopez | Collaborators
picture: athens
students:
  - 
    name: Sameer Bansal
    img: sbansal
    url: http://homepages.inf.ed.ac.uk/s1444673
    tagline: PhD student, University of Edinburgh (primary advisor&colon; Sharon Goldater)
    description: >
      Low-resource speech translation 
  -
    name: Nikolay Bogoychev
    img: nbogoychev
    url: http://homepages.inf.ed.ac.uk/s1031254/
    tagline: PhD student, University of Edinburgh
    description: >
      Machine translation
  -
    name: Jianpeng Cheng
    img: edi
    url: http://homepages.inf.ed.ac.uk/s1537177/
    tagline: "PhD student, University of Edinburgh (primary advisor: Mirella Lapata)"
    description: >
      Neural syntactic and semantic parsing
  -
    name: Federico Fancellu
    img: fancellu
    url: http://homepages.inf.ed.ac.uk/s1260346/index.html
    tagline: PhD student, University of Edinburgh (primary advisor&colon; Bonnie Webber)
    description: 
      Computational models of negation
  -
    name: Sorcha Gilroy
    img: sgilroy
    url: http://homepages.inf.ed.ac.uk/s1459276/
    tagline: PhD student, University of Edinburgh. MSc, University of Edinburgh,  2015.
    description: >
      Probabilistic graph grammars and logic for semantic representations
  -
    name: Andreas Grivas
    img: edi
    tagline: MSc student, University of Edinburgh
    description: Dependency parsing of morphologically rich languages
  -
    name: Yova Kementchedjhieva
    img: edi
    tagline: MSc student, University of Edinburgh
    description: Visualizing and understanding linguistic properties learned by neural networks
  -
    name: Junyi Li
    img: edi
    tagline: MSc student, University of Edinburgh
    description: Language modeling on GPUs
  -
    name: Moise Lubwimi
    img: edi
    tagline: MInf student, University of Edinburgh
    description: Natural language generation
  -
    name: Naomi Saphra
    img: nsaphra
    url: http://nsaphra.github.io/ 
    tagline: PhD student, University of Edinburgh. MSc, Johns Hopkins University, 2015.
    description: >
      Representation learning and social media
  - 
    name: Ida Szubert
    img: edi
    tagline: "PhD student, University of Edinburgh (starting Sep 2017, primary advisor: Mark Steedman). MSc 2016, University of Edinburgh."
    description: >
      Ida wrote an excellent thesis on annotating and automating the alignment of syntactic and semantic structures.
  -
    name: Clara Vania
    img: cvania
    url: https://claravania.github.io/
    tagline: PhD student, University of Edinburgh. MSc, University of Edinburgh, 2015.
    description: >
      Morphosyntax and representation learning
  - 
    name: Ieva Vasiljeva
    img: edi
    tagline: MSc student, University of Edinburgh
    description: Probabilistic graph grammars and automata
  -
    name: Dominikus Wetzel
    img: edi 
    url: http://www.inf.ed.ac.uk/people/students/Dominikus_Wetzel.html
    tagline: PhD student, University of Edinburgh (primary advisor&colon; Bonnie Webber)
    description:
      Cross-lingual coreference
  - 
    name: Justas Zemgulys
    img: edi
    tagline: MInf student, University of Edinburgh
    description: Neural semantic parsing
former-students:
  -
    name: Michael Auli
    img: auli
    url: http://michaelauli.github.io/ 
    tagline: PhD 2012, University of Edinburgh. Now at Facebook AI Research.
    description: >
      During our collaboration Michael developed the most accurate known 
      parser for combinatory categorial grammar, a linguistically expressive 
      grammar formalism. After graduation Michael began working on neural
      translation, and is one of the key researchers behind Facebook's 
      <a href="https://code.facebook.com/posts/1978007565818999/a-novel-approach-to-neural-machine-translation/">convolutional machine translation system</a>.
  -
    name: Iulia Banghea
    img: edi
    tagline: BSc 2017, University of Edinburgh
    description: >
      Iulia's honours thesis was on native language identification in second language text.
  - 
    name: Despoina Christou
    img: edi
    url: https://www.linkedin.com/in/despoinachristou
    tagline: MSc 2016, University of Edinburgh
    description: >
      Despoina worked on natural language generation with neural networks.
  - 
    name: Evangelia Lypiridi
    img: edi
    tagline: MSc 2016, University of Edinburgh.
    description: >
      Evangelia worked on natural language generation using phrase-based machine translation.
  -
    name: Katarzyna Pruś
    img: dundee
    url: https://www.linkedin.com/in/katarzyna-pru%C5%9B-6bb609107?ppe=1
    tagline: Visiting BSc student, University of Dundee. MPhil student, University of Cambridge (starting Sep 2017).
    description:
      Katarzyna did an excellent project on natural language generation in summer 2015.
  -
    name: Lena Reisinger
    img: edi
    tagline: MInf 2017, University of Edinburgh.
    description: >
      Dependency parsing
  -
    name: Adithya Renduchintala
    img: adi
    url: https://arendu.github.io/
    tagline: PhD student, Johns Hopkins University. 
    description:
      Adi amicably switched advisors after I moved to the University of Edinburgh. We worked together on word alignment and AMR.
  - 
    name: Pijus Simonaitis
    img: enslyon
    url: https://www.linkedin.com/in/pijus-simonaitis-734594bb/?ppe=1
    tagline: Visiting MSc student from École Normale Supérieure de Lyon. Now PhD student at Montpellier Laboratory of Computer Science, Robotics, and Microelectronics.
    description: >
      Pijus worked with us on graph grammars and logics in summer 2016.
  -
    name: Jason R. Smith
    img: jrsmith
    tagline: former PhD student, Johns Hopkins University. Now at Google.
    description: >
      Jason developed methods to mine translated text
      from the web much more inexpensively than previously possible, 
      making such data widely accessible and
      leading to large gains in translation accuracy in many domains.
      He now works on Google Translate.
  -
    name: Arthur Verkaik
    img: edi
    tagline: MInf 2017, University of Edinburgh
    url: https://www.linkedin.com/in/arthur-verkaik-33ab0492/?ppe=1
    description: User interfaces for image captioning
collaborators:
  -
    name: Abhishek Arun
    img: arun
    tagline: Bing.
    url: https://www.linkedin.com/in/abhishek-arun-136825/?ppe=1
  -
    name: Phil Blunsom
    img: blunsom
    url: http://www.cs.ox.ac.uk/people/phil.blunsom/
    tagline: Deepmind / University of Oxford.
  -
    name: Chris Callison-Burch
    img: ccb
    url: http://www.cis.upenn.edu/~ccb/
    tagline: University of Pennsylvania.
  -
    name: David Chiang
    img: chiang
    url: http://www3.nd.edu/~dchiang/
    tagline: University of Notre Dame.
  -
    name: Chris Dyer
    img: redpony
    url: http://www.cs.cmu.edu/~cdyer/
    tagline: Deepmind / Carnegie Mellon University.
  -
    name: Juri Ganitkevitch
    img: juri
    url: http://cs.jhu.edu/~juri/
    tagline: Google.
  -
    name: Sharon Goldwater
    url: http://homepages.inf.ed.ac.uk/sgwater/
    tagline: University of Edinburgh.
  -
    name: Barry Haddow
    img: barry
    url: http://homepages.inf.ed.ac.uk/bhaddow/
    tagline: University of Edinburgh.
  -
    name: Hua He
    img: huahe
    tagline: University of Maryland.
  -
    name: Hieu Hoang
    img: hieu
    url: http://statmt.org/~s0565741/
    tagline: Moses Machine Translation CIC
  -
    name: Rebecca Hwa
    img: rebecca
    url: http://people.cs.pitt.edu/~hwa/
    tagline: University of Pittsburgh.
  -
    name: Sanjeev Khudanpur
    img: sanjeev
    url: http://old-site.clsp.jhu.edu/~sanjeev/
    tagline: Johns Hopkins University.
  -
    name: Philipp Koehn
    img: pkoehn
    url: http://www.cs.jhu.edu/~phi/
    tagline: Johns Hopkins University.
  -
    name: Gaurav Kumar
    img: gaurav
    url: http://cs.jhu.edu/~gkumar/
    tagline: Johns Hopkins University.
  - 
    name: Mirella Lapata
    url: http://homepages.inf.ed.ac.uk/mlap/
    tagline: University of Edinburgh.
  -
    name: Jimmy Lin
    img: jimmylin
    url: https://cs.uwaterloo.ca/~jimmylin/index.html
    tagline: University of Waterloo.
  -
    name: Sebastian Maneth
    url: http://homepages.inf.ed.ac.uk/smaneth/
    tagline: University of Bremen.
  -
    name: Nitin Madnani
    img: nitin
    url: http://desilinguist.org/
    tagline: Educational Testing Service.
  -
    name: Christof Monz
    img: cmonz
    url: http://staff.science.uva.nl/~christof/
    tagline: University of Amsterdam.
  -
    name: Matt Post
    img: mjpost
    url: http://www.cs.jhu.edu/~post/
    tagline: Johns Hopkins University.
  -
    name: Philip Resnik
    img: resnik
    url: http://www.umiacs.umd.edu/%7Eresnik/
    tagline: University of Maryland.
  -
    name: Bonnie Webber
    url: http://homepages.inf.ed.ac.uk/bonnie/
    tagline: University of Edinburgh.
  -
    name: Jonathan Weese
    img: weese
    url: http://cs.jhu.edu/~jonny/
    tagline: Facebook.

---
<div class="page-header">
  <h3>Collaborators</h3>
<blockquote><i>Much have I learned from my teachers, more from my colleagues, but most from my students. <br/>&mdash;Talmud</i></blockquote>
</div>

<h4>Current students</h4>
{% include collaborator.html people=page.students show=true %}

<h4>Alumni</h4>
{% include collaborator.html people=page.former-students show=false %}

<h4>Collaborators past and present</h4>
{% include collaborator.html people=page.collaborators show=false %}

<br/>
I am conservative about who I add to this list.
It includes coauthors and student collaborators.
If your information is out of date, please get in touch.


