---
layout: default
title: Adam Lopez | Collaborators
picture: athens
students:
  - 
    name: Sameer Bansal
    img: sbansal
    tagline: MSc student, University of Edinburgh
    description: >
      Sameer is working on speech translation.
  -
    name: Nikolay Bogoychev
    img: edi
    tagline: PhD student, University of Edinburgh
    description: >
      Nikolay is working on GPU algorithms for natural language processing.
  -
    name: Federico Fancellu
    img: fancellu
    tagline: PhD student, University of Edinburgh (primary advisor&colon; Bonnie Webber)
    description:
      Federico is working on the semantics of negation in machine translation.
  -
    name: Sorcha Gilroy
    img: sgilroy
    tagline: MSc student, University of Edinburgh
    description: >
      Sorcha is working on graph grammars and automata.
  -
    name: Naomi Saphra
    img: nsaphra
    url: http://clsp.jhu.edu/people/nsaphra/
    tagline: PhD student, Johns Hopkins University.
    description: >
      Naomi is working on cross-lingual semantics and word embeddings.
  -
    name: Clara Vania
    img: cvania
    tagline: MSc student, University of Edinburgh
    description: >
      Clara is working on machine translation with side information.
  -
    name: Dominikus Wetzel
    img: edi 
    tagline: PhD student, University of Edinburgh (primary advisor&colon; Bonnie Webber)
    description:
      Dominikus is working on coreference in machine translation.
former-students:
  -
    name: Michael Auli
    img: auli
    url: http://michaelauli.github.io/ 
    tagline: PhD 2012, University of Edinburgh. Now at Facebook AI Research.
    description: >
      During our collaboration Michael developed the most accurate known 
      parser for combinatory categorial grammar, a linguistically expressive 
      grammar formalism. After graduation he went on to do excellent
      work in neural translation modeling.
  -
    name: Adithya Renduchintala
    img: adi
    tagline: PhD student, Johns Hopkins University. 
    description:
      Adi amicably switched advisors after I moved to the University of Edinburgh.
      We continue to work together on automata-theoretic translation models.
  -
    name: Jason R. Smith
    img: jrsmith
    tagline: former PhD student, Johns Hopkins University. Now at Google.
    description: >
      Jason developed methods to mine translated text
      from the web much more inexpensively than previously possible, 
      making such data widely accessible and
      leading to large gains in translation accuracy in many domains.
      He now works on Google Translate.
student-collaborators:
  -
    name: Abhishek Arun
    img: arun
    tagline: PhD 2010, University of Edinburgh. Now at Bing.
    description: >
      Abhishek and I worked with several others on sampling
      algorithms for translation models.
  -
    name: Juri Ganitkevitch
    img: juri
    url: http://cs.jhu.edu/~juri/
    tagline: PhD student at Johns Hopkins University.
    description: >
      Juri and I have collaborated on various machine translation toolkits 
      including cdec and dreamt.
  -
    name: Hua He
    img: huahe
    tagline: PhD student at University of Maryland.
    description: >
      Hua works with Jimmy Lin and me on GPU algorithms for machine translation.
  -
    name: Hieu Hoang
    img: hieu
    url: http://statmt.org/~s0565741/
    tagline: PhD 2011, University of Edinburgh. Now researcher at University of Edinburgh.
    description: >
      Hieu is the main architect of the Moses machine translation system. I 
      served on his dissertation committee.
  -
    name: Gaurav Kumar
    img: gaurav
    url: http://cs.jhu.edu/~gkumar/
    tagline: PhD student at Johns Hopkins University.
    description: >
      Gaurav and I worked on speech translation with Sanjeev Khudanpur.
  -
    name: Adam Teichert
    img: teichert
    tagline: PhD student at Johns Hopkins University.
    description: >
      Adam works with me on efficient decoding algorithms for machine translation.
  -
    name: Jonathan Weese
    img: weese
    url: http://cs.jhu.edu/~jonny/
    tagline: PhD student at Johns Hopkins University.
    description: >
      Jonny worked with me on CCG-based machine translation models, and 
      also collaborated on the machine translation toolkits cdec and dreamt.
  -
    name: Jessie Young
    img: jyoung
    tagline: MSc 2013, Johns Hopkins University. Now at Amazon.
    description: >
      Jessie worked with me on decoding algorithms for machine translation.
colleagues:
  -
    name: Phil Blunsom
    img: blunsom
    url: http://www.cs.ox.ac.uk/people/phil.blunsom/
    tagline: University of Oxford and Google Deepmind.
    description: >
      Phil and I were senior researchers at the 2010 CLSP workshop, and
      have worked together on sampling algorithms for machine translation.
  -
    name: Chris Callison-Burch
    img: ccb
    url: http://www.cis.upenn.edu/~ccb/
    tagline: University of Pennsylvania.
    description: >
      Chris and I co-taught machine translation at Johns Hopkins and
      worked together with several students.
  - 
    name: Trevor Cohn
    img: tcohn
    url: http://people.eng.unimelb.edu.au/tcohn/
    tagline: University of Melbourne.
    description: >
      Trevor and I were senior researchers at the 2010 CLSP workshop.
  -
    name: Markus Dreyer
    img: dreyer
    url: https://www.linkedin.com/in/mdreyer
    tagline: Amazon.
    description: >
      Markus hosted my summer 2013 sabbatical at SDL Research.
  -
    name: Chris Dyer
    img: redpony
    url: http://www.cs.cmu.edu/~cdyer/
    tagline: Carnegie Mellon University.
    description: >
      Chris and I have collaborated since our days
      in grad school together,
      particularly on his cdec translation system
      and on sampling algorithms for translation.
  -
    name: Barry Haddow
    img: barry
    url: http://homepages.inf.ed.ac.uk/bhaddow/
    tagline: University of Edinburgh.
    description: >
      Barry and I worked on sampling algorithms for translation.
  -
    name: Sanjeev Khudanpur
    img: sanjeev
    url: http://old-site.clsp.jhu.edu/~sanjeev/
    tagline: Johns Hopkins University
    description: >
      Sanjeev and I worked on speech translation.
  -
    name: Jimmy Lin
    img: jimmylin
    url: http://www.umiacs.umd.edu/~jimmylin/index.html
    tagline: University of Maryland.
    description: >
      Jimmy and I work with Hua He on GPU algorithms for translation.
  -
    name: Nitin Madnani
    img: nitin
    url: http://desilinguist.org/
    tagline: Educational Testing Service.
    description: >
      Nitin and I worked on hierarchical translation at the University of Maryland.
  -
    name: Christof Monz
    img: cmonz
    url: http://staff.science.uva.nl/~christof/
    tagline: University of Amsterdam.
    description: >
      Christof and I worked on hierarchical translation at the University of Maryland.
  -
    name: Matt Post
    img: mjpost
    url: http://www.cs.jhu.edu/~post/
    tagline: Johns Hopkins University.
    description: >
      Matt and I co-taught machine translation at Johns Hopkins and worked
      together on speech translation.
teachers:
  -
    name: David Chiang
    img: chiang
    url: http://www3.nd.edu/~dchiang/
    tagline: University of Notre Dame.
    description: >
      David and I worked together on hierarchical translation, an approach
      he invented when when he was a postdoc at the University
      of Maryland and I was a student. I learned much of what I know about
      machine translation just from reading his elegant code. 
  -
    name: Rebecca Hwa
    img: rebecca
    url: http://people.cs.pitt.edu/~hwa/
    tagline: University of Pittsburgh.
    description: >
      Rebecca and I worked together on cross-lingual annotation projection,
      my first project as a graduate student, while she was a postdoc.
      She has been my mentor and friend ever since.
  -
    name: Philipp Koehn
    img: pkoehn
    url: http://www.cs.jhu.edu/~phi/
    tagline: Johns Hopkins University.
    description: >
      Philipp was my postdoctoral advisor at the University of Edinburgh
      from 2008 until 2010, when I joined Johns Hopkins University. 
      In 2014 we switched places: He moved to Johns Hopkins 
      and I returned to Edinburgh. Philipp literally wrote the
      book on statistical machine translation. We worked together
      on several projects. 
  -
    name: Philip Resnik
    img: resnik
    url: http://www.umiacs.umd.edu/%7Eresnik/
    tagline: University of Maryland.
    description: >
      Philip was my dissertation advisor, and his fingerprints are all over
      my early projects, even the ones that don't have his name on them.
      He taught me much of what I know about research without my even 
      realizing he was doing it. 
---
<div class="page-header">
  <h3>Collaborators</h3>
<blockquote><i>Much have I learned from my teachers, more from my colleagues, but most from my students. <br/>&mdash;Talmud</i></blockquote>
</div>

<h4>Current students</h4>
{% include collaborator.html people=page.students %}

<h4>Past students</h4>
{% include collaborator.html people=page.former-students %}

<h4>Current and past student collaborators</h4>
{% include collaborator.html people=page.student-collaborators %}

<h4>Colleagues</h4>
{% include collaborator.html people=page.colleagues %}

<h4>Teachers</h4>
{% include collaborator.html people=page.teachers %}

<br/>
I am conservative about who I add to this list.
It includes current student collaborators and coauthors.
If your information is out of date, please get in touch.


