---
layout: default
title: Adam Lopez | Collaborators
picture: athens
students:
  -
    name: Michael Auli
    img: auli
    url: http://research.microsoft.com/en-us/um/people/michauli/
    tagline: Ph.D. 2012, University of Edinburgh. Now at Microsoft Research.
    description: >
      Michael developed the most accurate known parser for combinatory 
      categorial grammar, a linguistically expressive grammar formalism.
  -
    name: Jason R. Smith
    img: jrsmith
    url: http://old-site.clsp.jhu.edu/~jrsmith/  
    tagline: Ph.D. expected 2013, Johns Hopkins University. Joining Google this fall.
    description: >
      Jason developed methods to mine translated text
      from the web much more inexpensively than previously possible, 
      making such data widely accessible and
      leading to large gains in translation accuracy in many domains.
student-collaborators:
  -
    name: Abhishek Arun
    img: arun
    url: http://homepages.inf.ed.ac.uk/s0343799/
    tagline: Ph.D. 2010, University of Edinburgh. Now at Bing.
    description: >
      Abhishek and I worked with several others on sampling
      algorithms for translation models.
  -
    name: Juri Ganitkevitch
    img: juri
    url: http://cs.jhu.edu/~juri/
    tagline: Ph.D. student at Johns Hopkins University.
    description: >
      Juri and I have collaborated on various machine translation toolkits 
      including cdec and dreamt.
  -
    name: Hua He
    img: huahe
    url: http://www.cs.umd.edu/~huah/
    tagline: Ph.D. student at University of Maryland.
    description: >
      Hua works with Jimmy Lin and me on GPU algorithms for machine translation.
  -
    name: Hieu Hoang
    img: hieu
    url: http://statmt.org/~s0565741/
    tagline: Ph.D. 2011, University of Edinburgh. Now researcher at University of Edinburgh.
    description: >
      Hieu is well-known as the main architect of the Moses machine
      translation system, on which we sometimes collaborated. I served 
      on Hieu's dissertation committee.
  -
    name: Adam Teichert
    img: teichert
    tagline: Ph.D. student at Johns Hopkins University.
    description: >
      Adam works with me on efficient decoding algorithms for machine translation.
  -
    name: Jonathan Weese
    img: weese
    url: http://cs.jhu.edu/~jonny/
    tagline: Ph.D. student at Johns Hopkins University.
    description: >
      Jonny worked with me on CCG-based machine translation models, and 
      also collaborated on the machine translation toolkits cdec and dreamt.
  -
    name: Jessie Young
    img: jyoung
    tagline: M.S. 2013, Johns Hopkins University.
    description: >
      Jessie worked with me on decoding algorithms for machine translation.
colleagues:
  -
    name: Phil Blunsom
    img: blunsom
    url: http://www.cs.ox.ac.uk/people/phil.blunsom/
    tagline: University of Oxford.
    description: >
      Phil and I were senior researchers at the 2010 CLSP workshop, and
      have worked together on sampling algorithms for machine translation.
  -
    name: Chris Callison-Burch
    img: ccb
    url: http://www.cs.jhu.edu/~ccb/
    tagline: University of Pennsylvania.
    description: >
      Chris and I co-taught machine translation at Johns Hopkins and
      worked together with several students.
  - 
    name: Trevor Cohn
    img: tcohn
    url: http://staffwww.dcs.shef.ac.uk/people/T.Cohn/
    tagline: University of Sheffield.
    description: >
      Trevor and I were senior researchers at the 2010 CLSP workshop.
  -
    name: Markus Dreyer
    img: dreyer
    url: http://www.sdl.com/research/language-technology/markus-dreyer.html
    tagline: SDL Research.
    description: >
      Markus and I worked together during my summer 2013 sabbatical at SDL Research.
  -
    name: Chris Dyer
    img: redpony
    url: http://www.cs.cmu.edu/~cdyer/
    tagline: Carnegie Mellon University.
    description: >
      Chris and I have collaborated since our days
      in grad school together,
      particularly on his cdec translation system
      and on sampling algorithms for translation.
  -
    name: Barry Haddow
    img: barry
    url: http://homepages.inf.ed.ac.uk/bhaddow
    tagline: University of Edinburgh.
    description: >
      Barry and I worked on sampling algorithms for translation.
  -
    name: Jimmy Lin
    img: jimmylin
    url: http://www.umiacs.umd.edu/~jimmylin/index.html
    tagline: University of Maryland.
    description: >
      Jimmy and I work with Hua He on GPU algorithms for translation.
  -
    name: Nitin Madnani
    img: nitin
    url: http://www.desilinguist.org
    tagline: Educational Testing Services.
    description: >
      Nitin and I worked on hierarchical translation at the University of Maryland.
  -
    name: Christof Monz
    img: cmonz
    url: http://staff.science.uva.nl/~christof/
    tagline: University of Amsterdam.
    description: >
      Christof and I worked on hierarchical translation at the University of Maryland.
  -
    name: Matt Post
    img: mjpost
    url: http://www.cs.jhu.edu/~post/
    tagline: Johns Hopkins University.
    description: >
      Matt and I co-taught machine translation at Johns Hopkins.
teachers:
  -
    name: David Chiang
    img: chiang
    url: http://www.isi.edu/~chiang
    tagline: Information Sciences Institute.
    description: >
      David and I worked together on hierarchical translation, an approach
      he invented when when he was a postdoc at the University
      of Maryland and I was a student. I learned much of what I know about
      machine translation just from reading his elegant code.
  -
    name: Rebecca Hwa
    img: rebecca
    url: http://www.cs.pitt.edu/~hwa
    tagline: University of Pittsburgh.
    description: >
      Rebecca and I worked together on cross-lingual annotation projection,
      my first project as a graduate student, while she was a postdoc.
      She has been my mentor and friend ever since.
  -
    name: Philipp Koehn
    img: pkoehn
    url: http://www.iccs.informatics.ed.ac.uk/~pkoehn/
    tagline: University of Edinburgh.
    description: >
      Philipp was my postdoctoral advisor. He literally wrote the
      book on statistical machine translation, and we worked together
      on hierarchical translation, though he gave me 
      tremendous autonomy to work on other things.
  -
    name: Philip Resnik
    img: resnik
    url: http://www.umiacs.umd.edu/%7Eresnik
    tagline: University of Maryland.
    description: >
      Philip was my dissertation advisor, and his fingerprints are all over
      my early projects, even the ones that don't have his name on them.
      He taught me much of what I know about research without my even 
      realizing he was doing it. 
---
<div class="page-header">
  <h3>Collaborators</h3>
<blockquote><i>Much have I learned from my teachers, more from my colleagues, but most from my students. <br/>&mdash;Talmud</i></blockquote>
</div>

<h4>Students Advised</h4>
{% include collaborator.html people=page.students %}

<h4>Student Collaborators</h4>
{% include collaborator.html people=page.student-collaborators %}

<h4>Colleagues</h4>
{% include collaborator.html people=page.colleagues %}

<h4>Teachers</h4>
{% include collaborator.html people=page.teachers %}
