---
layout: clean
title: Adam Lopez | CV
before-pubs:
  -
    heading: Education
    items:
      -
        title: Ph.D
        year: 2008
        detail: University of Maryland Department of Computer Science. Advisor&#58; Philip Resnik. Dissertation&#58; <i>Machine Translation by Pattern Matching</i>
      -
        title: M.S
        year: 2002
        detail: University of Maryland Department of Computer Science
      -
        title: B.S
        year: 1997
        detail: Duke University Department of Computer Science
  -
    heading: Appointments
    items:
      -
        title: Assistant Research Professor
        year: 2012 &ndash; present
        detail: Johns Hopkins University Department of Computer Science
      -
        title: Research Scientist
        year: 2010 &ndash; present
        detail: Johns Hopkins University Human Language Technology Center of Excellence
      -
        title: Assistant Research Scientist
        year: 2011 &ndash; 2012
        detail: Johns Hopkins University Department of Computer Science
      -
        title: Postdoctoral Fellow
        year: 2008 &ndash; 2010
        detail: University of Edinburgh Department of Informatics
after-pubs:
  -
    heading: Awards 
    items:
      -
        title: Notable student paper award
        year: 2011
        detail: For EMNLP paper <i>Training a Log-Linear Parser with Loss Functions via Softmax-Margin</i> with Michael Auli
  -
    heading: Grants
    items:
      -
        title: EAGER&#58; Formal and empirical foundations of semantics-preserving machine translation
        year: 2013 &ndash; 2014
        detail: National Science Foundation, $150K
  -
    heading: Invited Talks
    items:
      -
        title: Transduction and Combinatory Categorial Grammar
        year: 2013
        detail: Simon Fraser University
      -
        title: Compact adaptable translation models on GPUs
        year: 2013
        detail: Google
      -
        title: Learning to translate with products of novices&#58; Open-ended challenge problems for teaching machine translation (and AI)
        year: 2013
        detail: Information Sciences Insitute
      -
        title: Synchronous Combinatory Categorial Grammar
        year: 2013
        detail: Columbia University
      -
        title: Integrated parsing and tagging
        year: 2012
        detail: IBM Research
      -
        title: Generic approximate inference for very large structured NLP models
        year: 2010
        detail: Johns Hopkins University Human Language Technology Center of Excellence
      -
        title: Semiring parsing without parsing
        year: 2009
        detail: University of Oxford
      -
        title: Semiring parsing without parsing
        year: 2009
        detail: University of Cambridge
      -
        title: Translation Model Search Spaces
        year: 2009
        detail: University of Saarland
      -
        title: Translation Model Search Spaces
        year: 2009
        detail: Dublin City University
      -
        title: Translation by Pattern Matching
        year: 2008
        detail: Machine Translation Marathon workshop
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: University of Amsterdam
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: University of Edinburgh
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: University of Pittsburgh
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: Carnegie Mellon University
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: Microsoft Research
      -
        title: Hierarchical Machine Translation with Suffix Arrays
        year: 2007
        detail: MITRE Corporation
      -
        title: Statistical Machine Translation
        year: 2006
        detail: Colgate University
      -
        title: Statistical Machine Translation
        year: 2005
        detail: Union College
  -
    heading: Academic Courses
    items:
      -
        title: Probability on Strings, Trees, and Sequences
        year: 2013, 2014
        detail: Graduate seminar at Johns Hopkins University
      -
        title: Machine Translation
        year: 2012, 2014
        detail: Graduate course at Johns Hopkins University
      -
        title: Computer Science II
        year: 2000
        detail: Prince George's Community College
  -
    heading: Invited Tutorials and Short Courses
    items:
      -
        title: Word Alignment
        year: 2013
        detail: Tutorial lecture at the Eight Machine Translation Marathon
      -
        title: Statistical Machine Translation
        year: 2012
        detail: One-week course at the North American Summer School on Logic, Language, and Information (NASSLLI)
      -
        title: Phrase-Based Translation
        year: 2012
        detail: Tutorial lecture at the Seventh Machine Translation Marathon
      -
        title: Machine Translation
        year: 2012
        detail: Tutorial lecture at NAACL Summer School on Human Language Technology
      -
        title: Discriminative Translation and Transducers
        year: 2011
        detail: Tutorial lecture at NAACL Summer School on Human Language Technology
      -
        title: Statistical Machine Translation
        year: 2010
        detail: One-week course at the European Summer School in Logic, Language and Information (ESSLLI)
      -
        title: Introduction to Machine Translation  
        year: 2010
        detail: Tutorial lecture at the Fifth Machine Translation Marathon
      -
        title: Machine Translation  
        year: 2010
        detail: Tutorial lecture at NAACL Summer School on Human Language Technology
      -
        title: Introduction to Machine Translation
        year: 2010
        detail: Tutorial lecture at the Fourth Machine Translation Marathon
      -
        title: Machine Translation
        year: 2009  
        detail: Tutorial lecture at NAACL Summer School on Human Language Technology
      -
        title: Introduction to Machine Translation
        year: 2009
        detail: Tutorial lecture at the Third Machine Translation Marathon
      -
        title: Syntax-based Machine Translation
        year: 2008  
        detail: Tutorial lecture at the Second Machine Translation Marathon
  -
    heading: Students Advised
    items:
      -
        title: Michael Auli
        detail: Ph.D. University of Edinburgh, 2012. Now at Microsoft Research
      -
        title: Jason Smith
        detail: Ph.D. expected Johns Hopkins University, 2014. Now at Google
      -
        title: Naomi Saphra
        detail: Ph.D. student at Johns Hopkins University since 2013
      -
        title: Adithya Renduchintala
        detail: Ph.D. student at Johns Hopkins University since 2013
  -
    heading: Student Committees
    items:
      -
        title: Loïc Dugast
        detail: Dissertation Committee. Ph.D. University of Edinburgh, 2013
      -
        title: Hieu Hoang
        detail: Dissertation Committee. Ph.D. University of Edinburgh, 2011
      -
        title: Niyue Tan
        detail: First-year Committee, University of Edinburgh, 2009
  -
    heading: Consulting
    items:
      -
        title: Visiting Scientist
        year: 2013
        detail: SDL Research
  -
    heading: Professional Service
    items:
      -
        title: Area Chair
        detail: ACL (2012), EMNLP (2009)
      -
        title: Program Chair
        detail: Fourth International Workshop On Crosslingual Information Access (2010)
      -
        title: Reviewer
        detail: Computational Linguistics, Journal of AI Research, Natural Language Engineering
      -
        title: Reviewer
        detail: ACL, COLING, CoNLL, EACL, EMNLP, ESSLLI, IJCAI, IJCNLP, MT Summit, NAACL
      -
        title: Organizer
        detail: NAACL Summer School in Human Language Technology, 2012
      -
        title: Organizer
        detail: CLSP Seminar Series, 2012-present
  -
    heading: Engineering Positions
    items:
      -
        title: Software Engineer
        year: 1997-1999
        detail: IBM
---
<div class="page-header">
  <h3>Adam Lopez</h3>
</div>

{% include cv-list.html categories=page.before-pubs %}
<h4>Publications</h4>
{% include paper-list.html venue='journal' heading='Journals' %}
{% include paper-list.html venue='conference' heading='Conferences and Transactions' %}
{% include paper-list.html venue='workshop' heading='Workshops and Demonstrations' %}
{% include cv-list.html categories=page.after-pubs %}


