---
layout: clean
title: Adam Lopez | CV
before-pubs:
  -
    heading: Education
    items:
      -
        title: Ph.D
        year: 2008
        detail: University of Maryland Department of Computer Science. Advisor&#58; Philip Resnik. Dissertation&#58; <i>Machine Translation by Pattern Matching</i>
      -
        title: M.S
        year: 2002
        detail: University of Maryland Department of Computer Science
      -
        title: B.S
        year: 1997
        detail: Duke University Department of Computer Science
  -
    heading: Appointments
    items:
      -
        title: Reader
        year: 2014 &ndash; present
        detail: University of Edinburgh School of Informatics
      -
        title: Assistant Research Professor
        year: 2012 &ndash; 2015
        detail: Johns Hopkins University Department of Computer Science
      -
        title: Assistant Research Scientist
        year: 2011 &ndash; 2012
        detail: Johns Hopkins University Department of Computer Science
      -
        title: Postdoctoral Fellow
        year: 2008 &ndash; 2010
        detail: University of Edinburgh School of Informatics
after-pubs:
  -
    heading: Awards 
    items:
      -
        title: Notable student paper award
        year: 2011
        detail: For EMNLP paper <i>Training a Log-Linear Parser with Loss Functions via Softmax-Margin</i> with Michael Auli
  -
    heading: Grants
    items:
      -
        title: EAGER&#58; Formal and empirical foundations of semantics-preserving machine translation
        year: 2013 &ndash; 2014
        detail: National Science Foundation, $150K
  -
    heading: Invited Talks
    items:
      -
        title: A Formal Model of Semantics-Preserving Translation
        year: 2014
        detail: Carnegie Mellon University, Language Technologies Institute
      -
        title: A Formal Model of Semantics-Preserving Translation
        year: 2014
        detail: University of Edinburgh Institute for Language, Cognition, and Computation
      -
        title: Synchronous Combinatory Categorial Grammar
        year: 2014
        detail: University of Oxford Department of Computer Science
      -
        title: A Formal Model of Semantics-Preserving Translation
        year: 2014
        detail: Information Sciences Institute
      -
        title: A Linguistically-Informed Formal Model of Translation
        year: 2014
        detail: University of Illinois Department of Linguistics
      -
        title: Statistical Machine Translation
        year: 2014
        detail: Knox College Department of Computer Science
      - 
        title: A Formal Model of Semantics-Preserving Translation
        year: 2014
        detail: Toyota Technical Institute at Chicago
      -
        title: Transduction and Combinatory Categorial Grammar
        year: 2013
        detail: Simon Fraser University
      -
        title: Compact adaptable translation models on GPUs
        year: 2013
        detail: Google
      -
        title: Learning to translate with products of novices&#58; Open-ended challenge problems for teaching machine translation (and AI)
        year: 2013
        detail: Information Sciences Insitute
      -
        title: Synchronous Combinatory Categorial Grammar
        year: 2013
        detail: Columbia University
      -
        title: Integrated parsing and tagging
        year: 2012
        detail: IBM Research
      -
        title: Generic approximate inference for very large structured NLP models
        year: 2010
        detail: Johns Hopkins University Human Language Technology Center of Excellence
      -
        title: Semiring parsing without parsing
        year: 2009
        detail: University of Oxford
      -
        title: Semiring parsing without parsing
        year: 2009
        detail: University of Cambridge
      -
        title: Translation Model Search Spaces
        year: 2009
        detail: University of Saarland
      -
        title: Translation Model Search Spaces
        year: 2009
        detail: Dublin City University
      -
        title: Translation by Pattern Matching
        year: 2008
        detail: Machine Translation Marathon workshop
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: University of Amsterdam
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: University of Edinburgh
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: University of Pittsburgh
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: Carnegie Mellon University
      -
        title: Hierarchical Phrase-Based Translation with Suffix Arrays
        year: 2007
        detail: Microsoft Research
      -
        title: Hierarchical Machine Translation with Suffix Arrays
        year: 2007
        detail: MITRE Corporation
      -
        title: Statistical Machine Translation
        year: 2006
        detail: Colgate University
      -
        title: Statistical Machine Translation
        year: 2005
        detail: Union College
  -
    heading: Academic Courses
    items:
      -
        title: Machine Translation
        year: 2015
        detail: Graduate course at the University of Edinburgh
      -
        title: Machine Translation
        year: 2012, 2014
        detail: Graduate course at Johns Hopkins University 
      -
        title: Probability on Strings, Trees, and Sequences
        year: 2013, 2014
        detail: Graduate seminar at Johns Hopkins University
      -
        title: Computer Science II
        year: 2000
        detail: Prince George's Community College
  -
    heading: Invited Tutorials and Short Courses
    items:
      -
        title: Word Alignment
        year: 2013
        detail: Tutorial lecture at the Eighth Machine Translation Marathon
      -
        title: Statistical Machine Translation
        year: 2012
        detail: One-week course at the North American Summer School on Logic, Language, and Information (NASSLLI)
      -
        title: Phrase-Based Translation
        year: 2012
        detail: Tutorial lecture at the Seventh Machine Translation Marathon
      -
        title: Machine Translation
        year: 2012
        detail: Tutorial lecture at NAACL Summer School on Human Language Technology
      -
        title: Discriminative Translation and Transducers
        year: 2011
        detail: Tutorial lecture at NAACL Summer School on Human Language Technology
      -
        title: Statistical Machine Translation
        year: 2010
        detail: One-week course at the European Summer School in Logic, Language and Information (ESSLLI)
      -
        title: Introduction to Machine Translation  
        year: 2010
        detail: Tutorial lecture at the Fifth Machine Translation Marathon
      -
        title: Machine Translation  
        year: 2010
        detail: Tutorial lecture at NAACL Summer School on Human Language Technology
      -
        title: Introduction to Machine Translation
        year: 2010
        detail: Tutorial lecture at the Fourth Machine Translation Marathon
      -
        title: Machine Translation
        year: 2009  
        detail: Tutorial lecture at NAACL Summer School on Human Language Technology
      -
        title: Introduction to Machine Translation
        year: 2009
        detail: Tutorial lecture at the Third Machine Translation Marathon
      -
        title: Syntax-based Machine Translation
        year: 2008  
        detail: Tutorial lecture at the Second Machine Translation Marathon
  -
    heading: Students Advised and Co-Advised
    items:
      -
        title: Dr. Michael Auli
        detail: Ph.D. University of Edinburgh, 2012. First job&#58; Microsoft Research. Now at Facebook AI Research
      -
        title: Jason Smith
        detail: Ph.D. student at Johns Hopkins University from 2006 to 2013, advised from 2011 to 2013. Now at Google
      -
        title: Naomi Saphra
        detail: Ph.D. student at Johns Hopkins University since 2013
      -
        title: Adithya Renduchintala
        detail: Ph.D. student at Johns Hopkins University since 2013, advised until 2014
      -
        title: Nikolay Bogoychev
        detail: Ph.D. student at the University of Edinburgh since 2015
      -
        title: Sorcha Gilroy
        detail: M.Sc. student at the University of Edinburgh since 2014
      -
        title: Clara Vania
        detail: M.Sc. student at the University of Edinburgh since 2014
      -
        title: Sameer Bansal
        detail: M.Sc. student at the University of Edinburgh, 2014&ndash;2015
      -
        title: Dominikus Wetzel
        detail: Ph.D. student at the University of Edinburgh since 2013. Primary advisor&#58; Bonnie Webber
      -
        title: Federico Fancellu 
        detail: Ph.D. student at the University of Edinburgh since 2014. Primary advisor&#58; Bonnie Webber
  -
    heading: Student Committees
    items:
      -
        title: Siva Reddy
        detail: Annual review committee, University of Edinburgh, 2015
      -
        title: Liane Guillou
        detail: Annual review committee, University of Edinburgh, 2015
      -
        title: Maria Nadejde
        detail: Annual review committee, University of Edinburgh, 2014
      -
        title: Adam Teichert
        detail: Candidacy exam committee, Johns Hopkins University, 2014
      -
        title: Dr. Hieu Hoang
        detail: Dissertation committee, University of Edinburgh, 2010. Ph.D. awarded 2011
      -
        title: Dr. Loïc Dugast
        detail: Dissertation committee, University of Edinburgh, 2009. Ph.D. awarded 2013
      -
        title: Niyue Tan
        detail: First-year committee, University of Edinburgh, 2009
  -
    heading: Consulting
    items:
      -
        title: Visiting Scientist
        year: 2013
        detail: SDL Research
  -
    heading: Professional Service
    items:
      - title: Editorial Board
        detail: Computational Linguistics 2015-17
      -
        title: Publications Chair
        detail: NAACL 2015-16
      -
        title: Area Chair
        detail: ACL 2012, EMNLP 2009
      -
        title: Program Chair
        detail: Fourth International Workshop On Crosslingual Information Access 2010
      -
        title: Reviewer
        detail: Computational Linguistics, Journal of AI Research, Journal of Language Modeling, Natural Language Engineering
      -
        title: Reviewer
        detail: ACL, COLING, CoNLL, EACL, EMNLP, ESSLLI, IJCAI, IJCNLP, MT Summit, NAACL, TACL
      -
        title: Organizer
        detail: NAACL Summer School in Human Language Technology, 2012
      -
        title: Organizer
        detail: CLSP Seminar Series, 2012-2014
  -
    heading: Engineering Positions
    items:
      -
        title: Software Engineer
        year: 1997-1999
        detail: IBM
---
<div class="page-header">
  <h3>Adam Lopez</h3>
</div>

{% include cv-list.html categories=page.before-pubs %}
<h4>Publications</h4>
{% include paper-list.html venue='journal' heading='Journals' %}
{% include paper-list.html venue='conference' heading='Conferences and Transactions' %}
{% include paper-list.html venue='workshop' heading='Workshops and Demonstrations' %}
{% include cv-list.html categories=page.after-pubs %}


