---
layout: default
title: Adam Lopez
picture: inchcolm
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Adam Lopez</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        <a href="https://en.wikipedia.org/wiki/Reader_(academic_rank)">Reader</a><br/>
        <a href="http://www.ilcc.inf.ed.ac.uk/">Institute for Language, Cognition and Computation</a><br/>
        <a href="http://www.ed.ac.uk/schools-departments/informatics/">School of Informatics</a><br/>
        <a href="http://www.ed.ac.uk/home">University of Edinburgh</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:alopez@inf.ed.ac.uk"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <a href="tel:+44-1316504430"><span class="glyphicon glyphicon-phone"></span>+44 131 650 4430</a><br/>
      <a href="http://scholar.google.com/citations?user=u4sxKZwAAAAJ">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="http://github.com/alopez">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github
    </div>
  </div>
</div>

<p>
I develop computational models of natural language learning, 
understanding and generation in people and machines, and my research 
focuses on basic scientific, mathematical, and engineering problems 
related to these models. I am especially interested in models 
that handle the diversity of morphological, syntactic, and semantic 
phenomena across the world’s languages. 
<a href="collaborators.html">My research group</a> is part of the larger 
<a href="http://groups.inf.ed.ac.uk/edinburghnlp/">Edinburgh natural language processing group</a>, 
and we collaborate with many people in Edinburgh and more widely. I am 
also the deputy director of the 
<a href="http://datascience.inf.ed.ac.uk/">Centre for Doctoral Training in Data
Science</a>, which offers a four-year MSc + PhD programme.
</p>

<h4>Current Highlights</h4>
<ul>
<li>
In June, my awesome PhD student <a href="http://homepages.inf.ed.ac.uk/s1459276/">Sorcha Gilroy</a> received an <a href="https://naacl2018.wordpress.com/2018/04/11/outstanding-papers/">outstanding
paper award</a> at <a href="http://naacl2018.org/">NAACL 2018</a> for a very cool
paper she coauthored on <a href="https://arxiv.org/abs/1711.05408">RNNs as weighted language recognizers</a>. 
In the same month, she was a finalist in University of Edinburgh <a href="https://www.ed.ac.uk/institute-academic-development/postgraduate/doctoral/3mt/3mt-final">3-minute thesis competition</a>.
</li>

<li>
Sorcha Gilroy and I 
taught a one-week course on "Graph formalisms for meaning 
representations" at <a href="https://www.cmu.edu/nasslli2018/">NASSLLI 2018</a>.
We will give a half-day tutorial on the same topic at 
<a href="http://emnlp2018.org/">EMNLP 2018</a>.
</li>
</ul>

{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


