---
layout: default
title: Adam Lopez
picture: nike
news:
  - >
      Join my spring 2014 reading group: <a href="https://piazza.com/jhu/spring2014/en600771/home">Probability on Strings, Trees, and Sequences</a>.
  - >
      I will teach <a href="http://mt-class.org/jhu/">Machine Translation</a> with Matt Post in spring 2014.
  - >
      We have an exciting lineup of speakers for the 2013-14 <a href="http://www.clsp.jhu.edu/seminars/">CLSP seminar</a>,
      which I organize.
  - >
      I was awarded an
      <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1349902">NSF grant</a>
      for a project on formal language theory and translation.
  - >
      <a href="http://www.isi.edu">ISI</a> posted <a href="http://webcasterms1.isi.edu/mediasite/SilverlightPlayer/Default.aspx?peid=ea55185170054e13972a0ea5b932eb6c1d">a video</a>
      of the <a href="http://www.isi.edu/technology_groups/insy/events/learning_translate_products_novices_open-ended_challenge_problems_teac">talk</a>
      I gave in their <a href="http://www.isi.edu/technology_groups/insy/events">artificial intelligence seminar</a> in June 2013.
  - >
      I spent ten weeks in the summer of 2013 as a visiting scientist at <a href="http://www.sdl.com/research/language-technology/">SDL Research</a>.
  - >
      My Ph.D. student <a href="http://research.microsoft.com/en-us/um/people/michauli/">Michael Auli</a>
      successfully defended <a href="https://www.era.lib.ed.ac.uk/handle/1842/7636">his thesis</a> 
      and joined Microsoft Research in fall 2012.
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-3">
      <h3>Adam Lopez</h3>
      <address>
        Johns Hopkins University<br/>
        810 Wyman Park Drive<br/>
        Baltimore, MD 21211<br/>
      </address>
    </div>
    <div class="col-sm-9">
      <br/>
      <div class="row">
        <div class="col-sm-4">
          Research Scientist
        </div>
        <div class="col-sm-6">
          <a href="http://hltcoe.jhu.edu">Human Language Technology Center of Excellence</a>
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-sm-4">
          Assistant Research Professor
        </div>
        <div class="col-sm-6">
          <a href="http://www.cs.jhu.edu">Computer Science Department</a><br/>
          <a href="http://www.clsp.jhu.edu">Center for Language and Speech Processing</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
        <a href="mailto:alopez@cs.jhu.edu"><span class="glyphicon glyphicon-envelope"></span></a> Email
    </div>
    <div class="col-sm-2">
        <a href="http://scholar.google.com/citations?user=u4sxKZwAAAAJ">
          <img src="img/ico/gs.png" alt=""/>
        </a>
        Google Scholar
    </div>
    <div class="col-sm-2">
        <a href="http://github.com/alopez">
          <img src="img/ico/github_icon.png" alt=""/>
        </a>
        Github
    </div>
  </div>
</div>

<p>
  The biggest barrier to global communication is the fact that we speak many 
  different languages. My research focuses on technology that will break this 
  barrier, in particular systems that learn to translate from big data (like 
  <a href="http://translate.google.com">Google Translate</a>,
  <a href="http://www.bing.com/translator">Bing Translator</a>, and
  <a href="http://www.freetranslation.com/">SDL Free Translation</a>), and
  their integration with speech and search technologies. 
  Improvements to these systems depend on extensions and applications of 
  machine learning, formal language theory, linguistics, and
  algorithms. I am interested in many problems in these fields.
</p>

<h4>News</h4>
<ul>
{% for item in page.news %}
  <li>{{ item }}</li>
{% endfor %}
</ul>

<h4>Selected Papers</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


