---
layout: default
title: Adam Lopez 
---
<script type="text/javascript">
function unhide(divID) {
  var item = document.getElementById(divID);
    if (item) {
      item.className=(item.className=='hidden-abstract')?'unhidden-abstract':'hidden-abstract';
    }
  }
</script>

<h2>Biography</h2>
<p>I am a postdoctoral research fellow working with 
<a href="http://www.iccs.informatics.ed.ac.uk/~pkoehn/">Philipp Koehn</a> on 
<a href="http://www.statmt.org">statistical machine translation</a>.  I earned 
my Ph.D. in computer science at the University of Maryland, where I worked 
with  <a href="http://www.umiacs.umd.edu/%7Eresnik">Philip Resnik</a>.  Prior 
to graduate school, I was a software engineer at IBM, and prior to that I 
studied computer science at Duke University.  I did not work with anyone named 
Philip(p) at IBM or Duke.  

<h2>Publications</h2>
<ul class="posts">
  {% for post in site.posts %}
    {% if post.layout == 'paper' %}
      <li>{% if post.url %}<a href="{{ post.url }}">{% endif %}
        {{ post.title }}{% if post.status %} ({{ post.status }}){% endif %}{% if post.url %}</a>{% endif %}{% if post.title contains '?' %}{% else %}.{% endif %}
      {{ post.authors }}.  
      {% case post.paper-type %}
        {% when "inproceedings" %}
          {% if post.date > site.time %}To appear in{% else %}In{% endif %}
          {% if post.booktitle-url %}<a subtle="yes" href="{{ post.booktitle-url}}">{% endif %}
            <i>{{ post.booktitle }}</i>{% if post.booktitle-url %}</a>{% endif %},
          {% if post.pages %}pages {{ post.pages }},{% endif %}
        {% when "article" %}
          {% if post.date > site.time %}To appear in{% else %}In{% endif %}
          {% if post.journal-url %}<a subtle="yes" href="{{ post.journal-url }}">{% endif %}
            <i>{{ post.journal }}</i>{% if post.journal-url %}</a>{% endif %}
            {{ post.volume }}({{ post.number }}),
            {% if post.article%}Article {{ post.article}},{% endif %}
            {% if post.pages %}pages {{ post.pages }},{% endif %}
        {% when "dissertation" %}
          Dissertation, {{ post.institution }}.
      {% endcase %} 
      {{ post.date | date: "%B %Y" }}.
      {% if post.abstract%}<a href="javascript:unhide('abstract{{ post.id }}')">[abstract]</a>{% endif %}
      {% if post.errata %}<a href="javascript:unhide('errata{{ post.id }}')">[errata]</a>{% endif %}
      {% if post.slides %}<a href="{{ post.slides }}">[slides]</a>{% endif %}
      {% if post.latex %}<a href="{{ post.latex }}">[LaTeX source]</a>{% endif %}
      {% if post.code %}<a href="{{ post.code }}">[code]</a>{% endif %}
      {% if post.abstract%}<div id="abstract{{ post.id }}" class="hidden-abstract">{{ post.abstract }}</div>{% endif %}
      {%if post.errata %}<div id="errata{{ post.id }}" class="hidden-abstract">{{ post.errata }}</div>{% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<h2>Talks and Tutorials</h2>
Over the last few years I have come around to the view that slides are visual 
aids for talks, so I make no representation that they stand on their own 
without an accompanying narration. (At least the later ones. Some of the 
earlier ones contain complete sentences.) Even so, I occasionally get requests 
for them. Here they are.
<ul class="posts">
  {% for post in site.posts %}
    {% if post.layout =='talk' %}
      <li><a href="{{ post.url }}">{{ post.title }}</a>.
      {% if post.venue %}{{ post.venue }},{% endif %}
      {{ post.date | date: "%B %Y" }}.
      {% if post.note %}{{ post.note }}{% endif %}
    {% endif %}
  {% endfor %}
</ul>
