{% for category in include.categories%}
  <h4>{{ category.heading }}</h4>
  {% if category.items %}
  <ul>
    {% for item in category.items %}
      <li>
        {% capture title_end %}{{ item.title | slice: -1 }}{% endcapture %}
        {{ item.title }}{% unless title_end == '?' %}.{% endunless %}
        {% if item.year %}{{ item.year }}.{% endif %}
        {% if item.detail %}{{ item.detail }}.{% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if category.subsections %}
  {% for subsection in category.subsections %}
  <h5>{{ subsection.heading }}</h5>
  <ul>
    {% for item in subsection.items %}
      <li>
        {% capture title_end %}{{ item.title | slice: -1 }}{% endcapture %}
        {{ item.title }}{% unless title_end == '?' %}.{% endunless %}
        {% if item.year %}{{ item.year }}.{% endif %}
        {% if item.detail %}{{ item.detail }}.{% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endfor %}
  {% endif %}
{% endfor %}


