{% if include.paper.doc-url %}<a href="{{ include.paper.doc-url }}">{% endif %}
  {{ include.paper.title }}{% if include.paper.doc-url %}</a>{% endif %}<br/>
{% if include.paper.authors %}{{ include.paper.authors }}.{% endif %}  
{% case include.paper.paper-type %}
  {% when "inproceedings" %}
    In <i>{{ include.paper.booktitle }}</i>.
  {% when "article" %}
    In <i>{{ include.paper.journal }}</i>,
      {% if include.paper.volume %}{{ include.paper.volume }}{% endif %}{% if include.paper.number %}({{ include.paper.number }}){% endif %}
      {% if include.paper.article%}: Article {{ include.paper.article}},{% endif %}
      {% if include.paper.pages %}: pages {{ include.paper.pages }},{% endif %}.
  {% when "dissertation" %}
    Dissertation, {{ include.paper.institution }}.
{% endcase %} 
{{ include.paper.year }}. 
{% if include.paper.note %} 
  {{ include.paper.note }} 
{% endif %}

